<?XML version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0">
	<Lecture>
		<Course_Name>Computer Science</Course_Name>
		<Course_Date>13 August, 2015</Course_Date>
		<Course_Status>Absent</Course_Status>
	</Lecture>
</plist>