<?XML version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0">
	<Lecture>
		<Course_Code>CSE101</Course_Code>
		<Subject>Computer Science</Subject>
		<Start_Time>08:00</Start_Time>
		<End_Time>08:00</End_Time>
		<Place>AC-16</Place>
		<LectureType>Theory</LectureType>
		<Teacher>Naveen Bilandi</Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>09:00</Start_Time>
		<End_Time>09:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>10:00</Start_Time>
		<End_Time>10:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>11:00</Start_Time>
		<End_Time>11:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>12:00</Start_Time>
		<End_Time>12:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>13:00</Start_Time>
		<End_Time>13:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>14:00</Start_Time>
		<End_Time>14:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>15:00</Start_Time>
		<End_Time>15:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>16:00</Start_Time>
		<End_Time>16:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>17:00</Start_Time>
		<End_Time>17:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>18:00</Start_Time>
		<End_Time>18:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>19:00</Start_Time>
		<End_Time>19:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>20:00</Start_Time>
		<End_Time>20:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>21:00</Start_Time>
		<End_Time>21:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
	<Lecture>
		<Course_Code></Course_Code>
		<Subject></Subject>
		<Start_Time>22:00</Start_Time>
		<End_Time>22:00</End_Time>
		<Place></Place>
		<LectureType></LectureType>
		<Teacher></Teacher>
	</Lecture>
</plist>